<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:exported="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/res_logo_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/res_logo_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ncn">
        <!--file provider-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="huiiro"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--Splash-->
        <activity
            android:name=".component.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Guide-->
        <activity
            android:name=".component.guide.GuideActivity"
            android:exported="false" />
        <!--App-->
        <activity
            android:name=".component.app.AppActivity"
            android:exported="false" />
        <!--Index-->
        <activity
            android:name=".component.tab.index.IndexActivity"
            android:exported="false" />
        <!--Notice-->
        <activity
            android:name=".component.tab.notice.NoticeActivity"
            android:exported="false" />
        <!--NoticeDetail-->
        <activity
            android:name=".component.tab.notice.NoticeDetailActivity"
            android:exported="false" />
        <!--My-->
        <activity
            android:name=".component.tab.settings.SettingsActivity"
            android:exported="false" />
        <!--Login-->
        <activity
            android:name=".component.login.LoginActivity"
            android:exported="false" />
        <!--Alarm-->
        <activity
            android:name=".component.alarm.AlarmDialogActivity"
            android:launchMode="singleTask"
            android:theme="@style/AlarmDialogTheme" />

        <service
            android:name=".core.ForegroundAlarmService"
            android:exported="false" />
        <service
            android:name=".core.ForegroundService"
            android:foregroundServiceType="remoteMessaging"
            tools:ignore="ForegroundServicePermission" />

        <receiver
            android:name=".core.receiver.AlarmReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".core.receiver.APKInstallerReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".core.receiver.StopBackgroundAlarmReceiver" />
        <receiver android:name=".core.receiver.NotificationDismissedReceiver" />

    </application>

</manifest>